In [ ]:
# Jovian Commit Essentials
# Please retain and execute this cell without modifying the contents for `jovian.commit` to work
!pip install jovian --upgrade -q
import jovian
jovian.set_project('15-sept-wed')
jovian.set_colab_id('1zuYCTYOlBUhzbEQfUFWVZ3JZjGt03VwK')

In [ ]:
10-4

6

In [ ]:
45*6

270

# Hi SkillEnable Learners.

## I am your trainer.

My name is **Dr. Darshan Ingle**.

I am from Navi Mumbai.

I am an expert in following subjects:

>AI

>ML

>NLP

>DL

>DA

# Hi SkillEnable Learners.

## I am your trainer.

My name is **Dr. Darshan Ingle**.

I am from ___Navi Mumbai___.

I am an __expert__ in following subjects:

>AI

>ML

>NLP

>DL

>DA

https://ingeh.medium.com/markdown-for-jupyter-notebooks-cheatsheet-386c05aeebed

In [ ]:
print("My name is Dr. Darshan Ingle.")

My name is Dr. Darshan Ingle.

In [ ]:
print('My name is Dr. Darshan Ingle.')

My name is Dr. Darshan Ingle.

In [ ]:
print("987")

987

In [ ]:
print("gkjqebckuhweiuyrieyo8 on34o8ehyeiurnivye4ic8y4e8i4yirue cnoiucjkdfghkug")

gkjqebckuhweiuyrieyo8 on34o8ehyeiurnivye4ic8y4e8i4yirue cnoiucjkdfghkug

In [ ]:
a = 10
b = 12
c = a+b
print("c")
print(a)
print(b)
print()

print("Addition=",c)

print()

print("Addition of a=",a,"& b=",b,"is c=",c)

c
10
12

Addition= 22

Addition of a= 10 & b= 12 is c= 22

In [ ]:
a = 987
b = 1562
c = a+b
print("c")
print(a)
print(b)
print()

print("Addition=",c)

print()

print("Addition of a=",a,"& b=",b,"is c=",c)

c
987
1562

Addition= 2549

Addition of a= 987 & b= 1562 is c= 2549

In [ ]:
a = input()
b = input()
c = a+b
print("c")
print(a)
print(b)
print()

print("Addition=",c)

print()

print("Addition of a=",a,"& b=",b,"is c=",c)

100
400
c
100
400

Addition= 100400

Addition of a= 100 & b= 400 is c= 100400

In [ ]:
type(100)

int

In [ ]:
type(100.758)

float

In [ ]:
type("100")

str

In [ ]:
type("SkillEnable")

str

In [ ]:
type(7-8j)

complex

In [ ]:
x = input()
print("You entered",x)

Darshan
You entered Darshan

In [ ]:
x = input()
print("You entered",x)

8997
You entered 8997

In [ ]:
x = input()
print(type(x))

Darshan
<class 'str'>

In [ ]:
x = input()
print(type(x))

98
<class 'str'>

In [ ]:
x = input()
print(type(x))

-766.554634
<class 'str'>

In [ ]:
x = input()
print(type(x))

98-9j
<class 'str'>

In [ ]:
# Typecasting: It is the process of forcefully changing the datatype.
i = 98
print(i)
print(type(i))
f = float(i)
print(f)
print(type(f))

98
<class 'int'>
98.0
<class 'float'>

In [ ]:
i = 98.87687
print(i)
print(type(i))
f = int(i)
print(f)
print(type(f))

98.87687
<class 'float'>
98
<class 'int'>

In [ ]:
a = input() # a is in str format
b = input() # b is in str format
a = int(a)
b = int(b)
c = a+b
print("c")
print(a)
print(b)
print()

print("Addition=",c)

print()

print("Addition of a=",a,"& b=",b,"is c=",c)

100
400
c
100
400

Addition= 500

Addition of a= 100 & b= 400 is c= 500

In [ ]:
a = int(input()) 
b = int(input()) 

c = a+b
print("c")
print(a)
print(b)
print()

print("Addition=",c)

print()

print("Addition of a=",a,"& b=",b,"is c=",c)

100
400
c
100
400

Addition= 500

Addition of a= 100 & b= 400 is c= 500

In [ ]:
a = int(input("Enter 1st number")) 
b = int(input("Enter 2nd number")) 

c = a+b
print("c")
print(a)
print(b)
print()

print("Addition=",c)

print()

print("Addition of a=",a,"& b=",b,"is c=",c)

Enter 1st number100
Enter 2nd number400
c
100
400

Addition= 500

Addition of a= 100 & b= 400 is c= 500

# Conditional Statements

# if SYNTAX:

if condition:
    do this
    do this
    do this
    
# if else SYNTAX:

if condition:
    do this
    do this
else:
    do this
    do this
    
# if-elif-else SYNTAX:

if condition1:
    do this
    do this
elif condition2:
    do this
    do this
elif condition3:
    do this
    do this
else:
    do this
    do this

In [ ]:
x = 5
if x>3:
    print("if condition successful")
print("Out of if")

if condition successful
Out of if

In [ ]:
x = -15
if x>3:
    print("if condition successful")
print("Out of if")

Out of if

In [ ]:
x = 5
if x>0:
    print(x,"is a Positive Number")
else:
    print(x,"is a Negative Number")
print("Out of if else")

5 is a Positive Number
Out of if else

In [ ]:
x = -5
if x>0:
    print(x,"is a Positive Number")
else:
    print(x,"is a Negative Number")
print("Out of if else")

-5 is a Negative Number
Out of if else

In [ ]:
x = 0
if x>0:
    print(x,"is a Positive Number")
else:
    print(x,"is a Negative Number")
print("Out of if else")

0 is a Negative Number
Out of if else

In [ ]:
x = 0
if x>0:
    print(x,"is a Positive Number")
elif x<0:
    print(x,"is a Negative Number")
else:
    print("Number is 0 i.e. neither negative nor positive")
    
print("Out of if else")

Number is 0 i.e. neither negative nor positive
Out of if else

# List

It is a collection of items of dissimilar datatypes.

It is stored using [   ] brackets.

In [3]:
l = [10,-10,1.21,-98.78,"Darshan","SkillEnable",3+98j]
print(l)
print(type(l))

[10, -10, 1.21, -98.78, 'Darshan', 'SkillEnable', (3+98j)]
<class 'list'>

In [4]:
l = [10,20,30,40,50]
print(l)

# Indexing
print(l[0])
print(l[3])
# print(l[10]) # IndexError: list index out of range
print(l[-1])
print(l[-4])

# Slicing
print(l[1:3]) # SI = 1, EI = (3-1)
print(l[1:4])

[10, 20, 30, 40, 50]
10
40
50
20
[20, 30]
[20, 30, 40]

# Tuples

It is a collection of items of dissimilar datatypes.

It is stored using (   ) brackets.

eg: Aadhar card, Passport Number, etc

In [ ]:
l = (10,20,30,40,50)
print(l)
print(type(l))

# Indexing
print(l[0])
print(l[3])
# print(l[10]) # IndexError: list index out of range
print(l[-1])
print(l[-4])

# Slicing
print(l[1:3]) # SI = 1, EI = (3-1)
print(l[1:4])

(10, 20, 30, 40, 50)
<class 'tuple'>
10
40
50
20
(20, 30)
(20, 30, 40)

In [ ]:
# Lists are Mutable i.e. Flexible

l = [10,20,30,40,50]
print(l)
print(l[0])
l[0] = "Darshan"
print(l)

[10, 20, 30, 40, 50]
10
['Darshan', 20, 30, 40, 50]

In [ ]:
# Tuples are Immutable i.e. Fixed

l = (10,20,30,40,50)
print(l)
print(l[0])
l[0] = "Darshan"
print(l)

(10, 20, 30, 40, 50)
10

TypeError: 'tuple' object does not support item assignment

# Happy Learning